#container{
    padding: 200px;
}
#foodContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.foodCard{
    background-color: papayawhip;
    box-shadow: 2px 2px 5px rgb(187, 178, 164);
    padding: 30px;
    border-radius: 20px;
}
.foodCard img{
    width: 80%;
    display: block;
    margin: auto;
}
.resultFood{
    width: 30%;
    margin: auto;
    background-color: #022333;
    color: white;
    padding: 30px;
}
.resultFood h1{
    font-size: 30px;
    text-align: center;
}
.resultFood img{
    width: 80%;
    display: block;
    margin: auto;
}